html, body, div{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body
{
  font: 13px Arial, Helvetica;    
  background-color: #d9dee2;
  height : 100%;
  min-height: 100%;
  width : 100%;
  padding : 0; 
    margin: auto 0;
}




pre
{
  color:red;
  text-align : center;
  text-decoration : blink;
}

#login
{
  background-color: #ffffff;
  width : 250px;
  position: relative;
  left : 50%;
  top: 50%;
  margin-top: -125px;
  margin-left: -125px;
  padding : 5px;
  border-radius: 10px;
}

#login input
{
  float : right;
}

#container
{
  width: 1000px;
  background-color: #F5EBCC;
  margin: auto;
  min-height: 100%;
  height: 100%;
  text-align: center;
}

#header
{
  background-color: brown;
  height: 80px;
  padding: 25px;
    zoom: 1;
}
#header:after, #header:before{
    display: block;
    content: '';
}
#header:after{
    clear: both;
    height: 0;
    overflow: hidden;
}
#header h1{
    color:#FFFFFF;
    margin-top: 0;
    font-size: 25px;
    line-height: 25px;
    text-transform: uppercase;

}
.header.right{
    float: right;
}

#footer
{
  width: 1000px;
  height: 15px;
  background-color: brown;
  margin: auto;
  color: white;
  font: 11px Arial, Helvetica;
  text-align: center;
  margin-top: -15px;
}


.close
{
  float: right;
}

.galery{
width: 500px;
margin: 0 auto;
margin-top: 10px;
}


body a{
    text-decoration: none;
    padding: 10px;
    background-color: #8F0B10;
    font-weight: bold;
    border-radius: 5px;
    color:#fff;
}
#prevlink, #nextlink{
    background-color: transparent;
}


h1{
    margin: 20px;
    text-align: center;
    color:#333333;
    font-size:22px;
}
td{
    padding: 20px;
}
